
.mainContainer{
    display: flex;
    flex-direction: column;
    margin-bottom: 10%;
}

.mainContainer h1{
    font-size: 2vw;
    margin-bottom: 4%;
}

.definicoes{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}

.simbologiaBox{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 400px;
}

.estadosBox{
    display: flex;
    justify-content: space-evenly;
    height: 400px;
    flex-direction: column;
}



.alfabetoEntrada{
    color: red;
    font-weight: bold;
    font-size: 1.4rem;
    margin-right: 3%;
}

.estados{
    color: red;
    font-weight: bold;
    font-size: 1.4rem;
    margin-right: 3%;
}

.textDefault{
    
    font-size: 1.3rem;
}
.linguagemUtilizadaBox p {
   font-size: clamp(0.75rem, 1.5vw, 3vw)
}

.transicoesBox{
    width: 100%;
    height: fit-content;
    
    border: 2px solid rgb(118, 117, 117);
    border-radius: 3px;
    box-shadow: 4px 2px 20px rgb(145, 143, 143);
    padding: 3%;
    margin-bottom: 4%;
}

.simbologiaBox, .linguagemUtilizadaBox, .definicaoFormalBox, .estadosBox{
    width: 25%;
    height: 500px;
    border: 2px solid rgb(118, 117, 117);
    border-radius: 3px;
    box-shadow: 4px 2px 20px rgb(145, 143, 143);
    padding: 2%;
    margin-bottom: 4%;
}

.transicoesBox p{
    font-size: clamp(0.75rem, 1.5vw, 3vw)

}