
.mainContainer{
    display: flex;
    flex-direction: column;
    margin-bottom: 10%;
}

.mainContainer h1{
    font-size: clamp(2vw, 3vw, 6vw);
    margin-bottom: 4%;
}

h1{
    font-size: clamp(2vw, 3vw, 6vw);

}

.definicoes{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}

.simbologiaBox{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 400px;
}

.estadosBox{
    display: flex;
    justify-content: space-evenly;
    height: 400px;
    flex-direction: column;
}



.alfabetoEntrada{
    color: red;
    font-weight: bold;
    font-size: clamp(0.75rem, 1.4vw, 5vw);
    margin-right: 3%;
}

.estados{
    color: red;
    font-weight: bold;
    font-size: clamp(0.75rem, 1.4vw, 5vw);
    margin-right: 3%;
}

.textDefault{
    
    font-size: clamp(0.75rem, 1.2vw, 4vw);

}
.linguagemUtilizadaBox p {
   font-size: clamp(0.75rem, 1.3vw, 3vw)
}

.transicoesBox{
    width: 100%;
    height: fit-content;
    
    border: 2px solid rgb(118, 117, 117);
    border-radius: 3px;
    box-shadow: 4px 2px 20px rgb(145, 143, 143);
    padding: 3%;
    margin-bottom: 4%;
}

.simbologiaBox, .linguagemUtilizadaBox, .definicaoFormalBox, .estadosBox{
    width: 25%;
    height: 500px;
    border: 2px solid rgb(118, 117, 117);
    border-radius: 3px;
    box-shadow: 4px 2px 20px rgb(145, 143, 143);
    padding: 2%;
    margin-bottom: 4%;
}

.transicoesBox p{
    font-size: clamp(0.75rem, 1.5vw, 3vw)

}

@media (max-width: 600px){
    .definicoes{
        font-size: 3vw;
        flex-direction: column;
    }
    .alfabetoEntrada{
        font-size: 4vw;
    }
    
    .simbologiaBox, .definicaoFormalBox, .estadosBox{
        width: 100%;
        font-size: 4vw;
        text-align: center;
       
    }
    .linguagemUtilizadaBox{
        width: 100%;
        height: fit-content
    }
    .linguagemUtilizadaBox p{
        font-size: 3.5vw;
    }
    .estados{
        font-size: 4vw;
    }

    .transicoesBox{
        padding: 2% 2%;
    }

    .textDefault{
        font-size: 4vw;
    }

    .transicoesBox p{
        font-size: 3.5vw;
    }
}