.mainContainer{
    margin-top: 10%;
    width: 100%;

}

.mainContainer h1{
    font-size: 2vw;
}

.television{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.userInterface{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    margin-top: 5%;
}

.box{
    display: flex;
    width: 50%;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
}

.box span{
    font-size: 3rem;
}

.box input{
    padding: 2%;
    font-size: 1.3rem;
    height: 30px;
}

.box input::placeholder{
    font-size: 1.3rem;
}

.importFile{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 3%;
    /* background-color: black; */
}

.importFile input{
    width: 75%;
}
.importFile button{
    padding: 2%;
    width: 15%;
}
.buttons{
    display: flex;
    align-items: center;
    position: sticky;
    top: 2%;
    margin-top: 2%;
    gap: 20px;
  
}

.buttons button{
    padding: 10px;
    background-color: #0091FD;
    color: #FFFFFF;
    border: 2px solid #0091FD;
    width: 100px;
    height: 50px;
    border-radius: 2px;
    font-size: 1rem;
    transition: 300ms all ease-out;
}

.buttons button:hover{
    transition:300ms all ease-in;
    color: #0091FD;
    transform: scale(1.1);
    border: 2px solid #FFFFFF;
    background-color: #FFFFFF;
    cursor: pointer;

}


.nodes{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    
    gap: 5%;
    padding: 2%;
    margin-top: 5%;
}

.status{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 10%;
    margin-top: 5%;
    
}

.status h3{
    font-size: clamp(0.8vw, 1.5rem, 3vw)
}

.status h3 span{
    color: #0091FD;
}